<div class="container-fluid" width=100%>
        <!-- <div class="video">
            <video width="940" height="410" controls>
                <source src="https://www.youtube.com/watch?v=EngW7tLk6R8" type="video/mp4">
              </video>
        </div> -->
        <iframe src="https://player.vimeo.com/video/76979871" width="100%" height="360" frameborder="0" allowfullscreen allow="autoplay; encrypted-media"></iframe>
        <section>
            <div id="tabs" #tabs></div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item waves-effect waves-light">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" [ngClass]="{ 'active':activeTab==='home'}" (click)="search('home')" role="tab" aria-controls="home" aria-selected="false">Home</a>
              </li>
              <li class="nav-item waves-effect waves-light">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" [ngClass]="{'active':activeTab==='profile'}" (click)="search('profile')" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
              </li>
              <li class="nav-item waves-effect waves-light">
                <a class="nav-link active" id="contact-tab" data-toggle="tab" href="#contact" role="tab" [ngClass]="{'active':activeTab==='contact'}" (click)="search('contact')" aria-controls="contact" aria-selected="true">Contact</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade active show"  role="tabpanel" [ngClass]="{ 'active show':activeTab==='home'}" aria-labelledby="home-tab">Raw denim you
                probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master
                cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia
                cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</div>
              <div class="tab-pane fade" id="profile" role="tabpanel" [ngClass]="{ 'active show':activeTab==='profile'}" aria-labelledby="profile-tab">Food truck fixie
                locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog
                sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo
                booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo
                nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero
                magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
                shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher
                vero sint qui sapiente accusamus tattooed echo park.</div>
              <div class="tab-pane fade"  role="tabpanel" [ngClass]="{ 'active show':activeTab==='contact'}"  aria-labelledby="contact-tab">Etsy mixtape wayfarers,
                ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi
                farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore
                carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred
                pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk
                vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork
                sustainable tofu synth chambray yr.</div>
            </div>
    
          </section>
        
</div>

